* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
 
  
}
.App {
    margin: 50px;
    background-color: gray;
    border-radius: 16px;
    // padding: 10px;

}
.red{
    width: 100px;
    height: 100px;
    background-color: red;
}
.t{
    width: 100px;
    height: 100px;
    background-color: yellow;
}