.dropdown-list {
  border-top: 1px solid white;
  margin-top: 3px;
  ul {
    list-style: none;
    margin-top: 10px;
    border-radius: 6px;
    li {
      margin: 3px 0;
      color: rgb(255, 255, 255);
      padding: 0 8px;
      height: 32px;
      line-height: 32px;
      font-size: 18px;

      &:nth-last-child(1) {
        height: 16px;
      }
    }
  }
}
