.input-searcher {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 48px;
  padding: 0 8px;

  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      background-color: grey;
      padding: 0 8px;
      border-radius: 16px;
      margin: 4px 0;
      margin-left: 8px;
      line-height: 32px;
      font-size: 18px;
      width: auto;
      text-align: center;
      height: 32px;
      border: 1px solid white;

      span {
        position: relative;
      }

      .colse-tag {
        border-radius: 50%;
        padding: 1px;
        margin-left: 6px;
        background-color: rgb(236, 236, 236);
        color: grey;
        transition: 0.3s;
        &:hover {
          transform: scale(1.2) rotate(90deg);
          cursor: pointer;
        }
      }
    }
  }

  input {

    text-decoration: none;
    background-color: transparent;

    color: white;
    min-height: 48px;
    line-height: 32px;
    font-size: 18px;
    padding: 0 10px;
    // width: 200px;
    min-width: 200px;
    border: none;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: rgb(190, 190, 190);
    }
  }
}
